<video autoplay id="video-player" class="ratio ratio-16x9" controls preload="none"
		poster='http://video-js.zencoder.com/oceans-clip.jpg'
		data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
		<source [src]="url" type='video/mp4' />
    </video>
    
    <!-- <div>
        <button (click)="playPause()">Play/Pause</button>
        <button (click)="makeBig()">Big</button>
        <button (click)="makeSmall()">Small</button>
        <button (click)="makeNormal()">Normal</button>
        <button (click)="restart();">Restart</button>
        <button (click)="skip(-10)">Rewind</button>
        <button (click)="skip(10)">Fastforward</button>
    </div> -->